training/resources/tools/contesa/assets/naive_person_name.xsd

<?xml version="1.0"?>
<xs:schema
 xmlns:xs="http://www.w3.org/2001/XMLSchema"
 xmlns="http://release.niem.gov/niem/contesa/tutorial"
 targetNamespace="http://release.niem.gov/niem/contesa/tutorial"
 elementFormDefault="qualified">

  <xs:element name="PersonName">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PersonGivenName" type="xs:string"/>
        <xs:element name="PersonSurName" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
